#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 10000;
}#loaded{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: white url('../images/preloading.gif') no-repeat center;
	z-index: 999;
}